#root {
  max-width: 1280px;
  margin: 0px;
  padding: 0rem;
  text-align: center;
}
/* Get Started Page..*/
.GetStrtedPage{
  margin: 0px;
  padding: 0;
}
.GetStrtedPage img{
  z-index: -1;
  opacity: 0.4;
}
.controls{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 35%;
  left: 35%;
}
.controls h3{
  font-size: 30px;
}
/*   Question Page*/
.Test{
  display: flex;
  flex-direction: row;
}
.Question{
  width: 50vw;
  height: 75vh;
  text-align:start;
  align-self: flex-start;
  padding-top: 10%;
  padding: 5px;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.userAnswer{
  width: 50vw;
  height: max-content;
  text-align:start;
  align-self: flex-start;
  font-size: 25px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction:column;
}
.userAnswer textarea{
  height: 80vh;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
}